/.idea
/MFIN7036-student-blog-2025-12-main
/utility/__pycache__
/market_data
fmp_api_key.txt
/Google_news2024_getandclean_v1/__pycache__
/Google_news2024_getandclean_v1/multi_asset_news_data_20260112_193316
/Google_news2024_getandclean_v1/multi_asset_news_data_20260112_202357
/data/textual_data/stockwits_cleaned_data
/data/textual_data/stocktwits_data
/backtest_results_price_6assets
/cleaner/__pycache__
/data
/financial_assets_data1
/link_crawler/__pycache__
/observation
/results_price_6assets
/sentiment_analysis_cleaned
/results_nlp_6assets
/backtest_results_6assets
/organized_6assets
/results_6assets
/analysis_plots_meta
/analysis_plots_nlp
/analysis_plots_super
/backtest_results_nlp_6assets
/Meta_6assets
/metrics_used_6assets
/meta_results_6assets
/SUPER_6assets
/super_results_6assets
